<div class="container-fluid">
    <h1>Create a new account</h1>
   
   <br/>
   
    <form #userSignupForm="ngForm" name="userSignupForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">Email:</label>
            <input type="email" required pattern='^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,3})$' [class.is-invalid]='email.invalid && email.touched' #email='ngModel' class="form-control" name="email" [(ngModel)]='scrumUserModel.email'>
            <div *ngIf="email.errors &&  email.touched">
                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Invalid email pattern</small>
            </div>
        </div>
        <div class="form-group">
            <label>Full name:</label>
            <input type="text" required class="form-control" #fullname='ngModel' pattern='^[a-zA-Z\s]*$' name="fullName" [class.is-invalid]='fullname.invalid && fullname.touched' [(ngModel)]='scrumUserModel.fullname'>
            <div *ngIf="fullname.errors &&  fullname.touched">
                <small class="text-danger" *ngIf="fullname.errors.required">Fullname is required</small>
                <small class="text-danger" *ngIf="fullname.errors.pattern">Only letters and spaces are allowed</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" required pattern="^(?=.*?[a-zA-Z])(?=.*?[0-9])(?=.*?[^A-Za-z0-9]).{8,}$" [class.is-invalid]='password.invalid && password.touched' #password='ngModel' class="form-control" name="password" [(ngModel)]='scrumUserModel.password'>
            <div *ngIf="password.errors && password.touched">
                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors.pattern">Password must be atleast 8 characters long, one digit and one special character</small>
            </div>
        </div>
        <div class="form-group">
            <label>User types</label>
            <select class="custom-select" required name="usertype" [class.is-invalid]='usertype.invalid && usertype.touched' 
            #usertype='ngModel' [(ngModel)]='scrumUserModel.type'>
                <option value=""></option>
                <option *ngFor="let type of userTypes">{{ type }}</option>
            </select>
            <small class="text-danger" [class.d-none]="usertype.valid || usertype.untouched">User type is required</small>
        </div>
        <h5> {{ feedbk }} </h5>
        <button class="btn btn-primary" [disabled]="userSignupForm.invalid" type="submit">Create User</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
